
.login-label-govco strong {
    color: #000 !important;
    font-family: WorkSans-Regular !important;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
  }
  
  .inicio-sesion-govco {
    width: 60.75rem;
    min-height: 40.063rem;
    background: #F6F8F9 0% 0% no-repeat padding-box;
    box-shadow: 0 0.25rem 0 #3366CC24;
    border-radius: 0.625rem;
    opacity: 1;
    padding: 2.5rem 2.5rem 2.813rem 2.5rem;
  }
  
  .inicio-sesion-govco[data-content="juridica"] .container-login-opcion-govco {
    height: 21.5rem !important;
  }
  
  .inicio-sesion-govco[data-content="natural"] .container-login-alerta-juridica-govco {
    display: none;
  }
  
  .inicio-sesion-govco h2 {
    color: #008E65;
    font-family: Montserrat-SemiBold;
    font-size: 2rem;
    margin: center;
    line-height: 1.875rem;
  }
  
  .inicio-sesion-govco .container-radio-login-govco {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    --bs-gutter-x: 0;
  }
  
  .inicio-sesion-govco[data-content="natural"] .container-login-opcion-govco[data-container-persona="juridica"],
  .inicio-sesion-govco[data-content="juridica"] .container-login-opcion-govco[data-container-persona="natural"],
  .inicio-sesion-govco .none-login-govco {
    display: none;
  }
  
  .inicio-sesion-govco .container-login-opcion-govco {
    background-color: #F6F8F9;
    max-width: 23.75rem;
    height: 16.75rem;
    margin-top: 1.25rem;
  }
  
  .inicio-sesion-govco .text-valid-login-govco {
    font-family: WorkSans-Regular;
    font-size: 16px;
    text-align: left;
    color: #000000;
    margin-top: 1.875rem;
  }
  
  .inicio-sesion-govco .label-login-govco {
    color: #4B4B4B;
    font-family: WorkSans-Regular;
    font-size: 16px;
    line-height: 1.375rem;
    margin-bottom: 0.625rem;
  }
  
  .inicio-sesion-govco .container-login-alerta-juridica-govco {
    background-color: #FFFFFF;
    color: #008E65;
    font-family: WorkSans-Regular;
    font-size: 0.875rem;
    display: flex;
    margin-top: 1.875rem;
    padding-right: 0rem;
  }
  
  .inicio-sesion-govco .container-login-alerta-juridica-govco p {
    margin: 0;
    line-height: 1.25rem;
  }
  
  .inicio-sesion-govco .icon-informacion-login-govco {
    background-color: #008E65;
    color: #008E65;
    margin-right: 0.625rem;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inicio-sesion-govco .icon-informacion-login-govco::before {
    font-family: "govco-font";
    content: '\e9f4';
    color: #FFFFFF;
    font-size: 0.875rem;
  }
  
  .inicio-sesion-govco .icon-minus-login-govco {
    background-color: #FFFFFF !important;
  }
  
  .inicio-sesion-govco .icon-minus-login-govco::before {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: "govco-font";
    content: '\ea48';
    width: 0.625rem;
    height: 0;
    color: #737373;
    opacity: 1;
    border: 0.125rem;
  }
  
  .inicio-sesion-govco .login-label-juridica-govco {
    font-family: WorkSans-Regular;
    font-size: 16px;
    text-align: left;
  }
  
  .inicio-sesion-govco .nit-num-juridica-inicio-sesion-govco {
    display: flex;
  }
  
  .inicio-sesion-govco .nit-num-juridica-inicio-sesion-govco .container-input-texto-govco:first-child {
    width: 300%;
  }
  
  .inicio-sesion-govco .nit-num-juridica-inicio-sesion-govco p {
    margin: 0 0.5rem;
    padding-top: 0.5rem;
  }
  
  .inicio-sesion-govco .container-options-login-govco a {
    font-family: WorkSans-Medium;
    font-size: 16px;
    text-align: left;
    color: #008E65;
    text-decoration:underline;
  }
  
  .inicio-sesion-govco .container-options-login-govco p {
    font-family: WorkSans-Regular;
    font-size: 16px;
    color: #4B4B4B;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .inicio-sesion-govco {
      width: 20.5rem;
      padding: 1.875rem 1rem 1.813rem 1rem;
    }
  
    .inicio-sesion-govco .container-radio-login-govco {
      margin-left: 0.3rem;
    }
  }
  
  /* Botones */
  .btn-govco {
    border-radius: 1.563rem;
    font-family: WorkSans-Medium;
    font-size: 16px;
    line-height: 0.563rem;
    padding: 0.75rem 1rem;
    border-width: 0.125rem;
    border-style: solid;
  }
  
  .btn-govco.fill-btn-govco:hover,
  .btn-govco.fill-btn-govco:focus-visible,
  .btn-govco.outline-btn-govco:hover,
  .btn-govco.outline-btn-govco:focus-visible,
  .btn-govco.fill-secundary-btn-govco:hover,
  .btn-govco.fill-secundary-btn-govco:focus-visible,
  .btn-govco.outline-secundary-btn-govco:hover,
  .btn-govco.outline-secundary-btn-govco:focus-visible {
    background-color: #09b181;
    border-color: #09b181;
    color: #FFFFFF;
  }
  
  .btn-govco.fill-btn-govco:focus-visible,
  .btn-govco.outline-btn-govco:focus-visible,
  .btn-govco.fill-secundary-btn-govco:focus-visible,
  .btn-govco.outline-secundary-btn-govco:focus-visible {
    outline: max(0.125rem, 0.125rem) solid #000000;
    outline-offset: max(0.125rem, 0.188rem);
  }
  
  .btn-govco.fill-btn-govco,
  .btn-govco.outline-btn-govco {
    border-color: #008E65;
  }
  
  .btn-govco.fill-btn-govco,
  .btn-govco.outline-secundary-btn-govco {
    background-color: #008E65;
    color: #FFFFFF;
  }
  
  .btn-govco.outline-btn-govco,
  .btn-govco.fill-secundary-btn-govco,
  .btn-govco.outline-secundary-btn-govco:hover,
  .btn-govco.outline-secundary-btn-govco:focus-visible {
    background-color: #FFFFFF;
    color: #eb0606;
  }
  
  .btn-govco.fill-secundary-btn-govco:focus-visible,
  .btn-govco.outline-secundary-btn-govco:focus-visible {
    outline-color: #FFFFFF;
  }
  
  .btn-govco:disabled {
    background-color: #737373;
    border-color: #737373;
    color: #FFFFFF;
    pointer-events: none;
  }
  
  .btn-govco.fill-secundary-btn-govco:hover,
  .btn-govco.fill-secundary-btn-govco:focus-visible,
  .btn-govco.fill-secundary-btn-govco:disabled,
  .btn-govco.fill-secundary-btn-govco,
  .btn-govco.outline-secundary-btn-govco:hover,
  .btn-govco.outline-secundary-btn-govco:focus-visible,
  .btn-govco.outline-secundary-btn-govco:disabled,
  .btn-govco.outline-secundary-btn-govco {
    border-color: #FFFFFF;
  }
  
  /* campo de texto */
  .entradas-de-texto-govco {
    padding: 0.5rem 0;
    font-size: 16px;
    font-family: WorkSans-Regular;
  }
  
  .entradas-de-texto-govco label {
    color: #4B4B4B;
    display: block;
    font-size: 16px;
    margin-bottom: 0.625rem;
    line-height: 1.375rem;
  }
  
  .entradas-de-texto-govco .container-input-texto-govco {
    position: relative;
  }
  
  .entradas-de-texto-govco input {
    outline: none !important;
    background-color: #FFFFFF !important;
    border: 0.094rem solid #737373 !important;
    border-radius: 0.313rem !important;
    width: 100% !important;
    padding: 0.5rem !important;
    color: #4B4B4B !important;
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
    display: inline !important;
    height: auto !important;
    box-sizing: inherit !important;
    font-family: WorkSans-Regular !important;
    line-height: 1.375rem;
  }
  
  .entradas-de-texto-govco input::placeholder {
    color: #737373;
  }
  
  .entradas-de-texto-govco input:not(.success):not(.error):focus {
    box-shadow: 0 0.25rem 0 #3366CC24;
    border: 0.094rem solid #008E65;
  }
  
  .entradas-de-texto-govco input:disabled {
    background-color: #F2F2F2;
    border: 0.094rem solid #BABABA;
  }
  
  .entradas-de-texto-govco input:disabled::placeholder,
  .entradas-de-texto-govco.disabled-govco label,
  .entradas-de-texto-govco.disabled-govco span {
    color: #BABABA;
  }
  
  .entradas-de-texto-govco .alert-entradas-de-texto-govco {
    display: block;
  }
  
  .entradas-de-texto-govco .icon-entradas-de-texto-govco {
    position: absolute;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: block;
    background-size: 1.6rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-65%);
  }
  
  .entradas-de-texto-govco .eye-slash-entradas-de-texto-govco,
  .entradas-de-texto-govco .eye-entradas-de-texto-govco {
    right: 0.625rem;
  }
  
  .entradas-de-texto-govco .icon-entradas-de-texto-govco::after {
    font-family: "govco-font";
  }
  
  .entradas-de-texto-govco .eye-entradas-de-texto-govco::after {
    content: "\e937";
    color: #008E65;
    font-size: 1.331rem;
  }
  
  .entradas-de-texto-govco .eye-slash-entradas-de-texto-govco::after {
    content: "\e936";
    color: #737373;
    font-size: 1.2rem;
  }
  
  .entradas-de-texto-govco input.success {
    border: 0.094rem solid #068460 !important;
  }
  
  .entradas-de-texto-govco input.success::placeholder,
  .entradas-de-texto-govco input.success {
    color: #077253;
  }
  
  .entradas-de-texto-govco .success-texto-govco {
    color: #068460;
  }
  
  .entradas-de-texto-govco input.error {
    border: 0.094rem solid #A80521 !important;
  }
  
  .entradas-de-texto-govco input.error::placeholder,
  .entradas-de-texto-govco .error-texto-govco,
  .entradas-de-texto-govco input.error {
    color: #A80521;
  }
  
  .entradas-de-texto-govco input.success~.success-icon-entradas-de-texto-govco,
  .entradas-de-texto-govco input.error~.error-icon-entradas-de-texto-govco {
    display: initial;
  }
  
  .entradas-de-texto-govco input::-ms-reveal {
    display: none;
  }
  
  .entradas-de-texto-govco .success-icon-entradas-de-texto-govco,
  .entradas-de-texto-govco .error-icon-entradas-de-texto-govco {
    right: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
  }
  
  .entradas-de-texto-govco .success-icon-entradas-de-texto-govco {
    background-color: #068460;
  }
  
  .entradas-de-texto-govco .error-icon-entradas-de-texto-govco {
    background-color: #A80521;
  }
  
  .entradas-de-texto-govco .success-icon-entradas-de-texto-govco::after,
  .entradas-de-texto-govco .error-icon-entradas-de-texto-govco::after {
    color: #FFFFFF;
    font-size: 0.875rem;
  }
  
  .entradas-de-texto-govco .success-icon-entradas-de-texto-govco::after {
    content: "\e8a7";
  }
  
  .entradas-de-texto-govco .error-icon-entradas-de-texto-govco::after {
    content: "\e92f";
  }
  
  .entradas-de-texto-govco .none,
  .entradas-de-texto-govco .success-icon-entradas-de-texto-govco,
  .entradas-de-texto-govco .error-icon-entradas-de-texto-govco {
    display: none;
  }
  
  
  /* radio button */
  .radio-seleccion-govco {
    margin-bottom: 0.125rem;
  }
  
  .radio-seleccion-govco input[type="radio"] + label {
    color: #4B4B4B;
    font-size: 16px;
    font-family: WorkSans-Regular;
    margin: 0;
    line-height: 1.375rem;
  }
  
  .radio-seleccion-govco input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: #008E65;
    width: 1.15em;
    height: 1.15em;
    border: 0.1667rem solid #008E65;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
    float: left;
    margin-right: 0.5em;
    margin-top: 0.25em;
    position: relative!important;
    opacity: 1!important;
  }
  
  .radio-seleccion-govco input[type="radio"]:hover {
    border: 0.15em solid #008E65;
  }
  
  .radio-seleccion-govco input[type="radio"]:disabled {
    border: 0.15em solid #737373;
  }
  
  .radio-seleccion-govco input[type="radio"]:disabled + label {
    color: #737373;
  }
  
  .radio-seleccion-govco input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #008E65;
  }
  
  .radio-seleccion-govco input[type="radio"]:hover::before {
    box-shadow: inset 1em 1em #008E65;
  }
  
  .radio-seleccion-govco input[type="radio"]:disabled::before {
    box-shadow: inset 1em 1em #737373;
  }
  
  .radio-seleccion-govco input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  .radio-seleccion-govco input[type="radio"]:focus-visible {
    outline: max(0.125rem, 0.15em) solid #000000;
    outline-offset: max(0.125rem, 0.15em);
  }
  
  .radio-seleccion-govco input[type="radio"]:not(:checked), 
  .radio-seleccion-govco input[type="radio"]:checked {
    pointer-events: all !important;
  }
  
  
  /**
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: Carga de archivo
 *  - Version: 4.0.0
 */

/* Fuente iconografica */
@font-face {
  font-family: "govco-font";
  src: url("../assets/icons/fonts/govco-font-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* WorkSans-Regular */
@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}

/* WorkSans-Regular */
@font-face {
  font-family: 'WorkSans-Medium';
  src: url('../assets/fonts/Work_Sans/static/WorkSans-Medium.ttf');
}

/* Montserrat-SemiBold */
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

/* Montserrat-Medium */
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

html {
  font-size: 100%; /* 100% = 16px */
}

.label-carga-de-archivo-govco {
  font-family: WorkSans-Regular;
  font-size: 1rem;
  color: #4B4B4B;
  display: block;
}

.loader-carga-de-archivo-govco {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
}

.all-input-carga-de-archivo-govco {
  display: inline-block;
  position: relative;
}

.input-carga-de-archivo-govco {
  opacity: 0;
  position: absolute;
  height: 70%;
  width: 100%;
  top: 0;
  cursor: pointer;
}

.container-input-carga-de-archivo-govco {
  padding: 0.125rem;
  height: 100%;
  display: flex;
  justify-content: start;
  margin-top: 0.2rem;
  margin-bottom: 0.813rem;
  max-width: 24.375rem;
}

.container-input-carga-de-archivo-govco .button-file-carga-de-archivo-govco {
  width: 11.625rem;
  border-radius: 0.313rem 0 0 0.313rem;
  border: 0.094rem solid #3366CC;
  background-color: #3366CC;
  font-family: WorkSans-Medium;
  color: #fff;
  text-align: center;
  padding: 0.438rem 0.875rem 0.438rem 0.875rem;
}

.container-input-carga-de-archivo-govco .file-name-carga-de-archivo-govco {
  width: 13.75rem;
  border: 0.094rem solid #737373;
  border-radius: 0 0.313rem 0.313rem 0;
  background-color: #FFFFFF;
  font-family: WorkSans-Regular;
  color: #737373;
  padding: 0.438rem 0.313rem 0.438rem 0.313rem;
}

.container-input-carga-de-archivo-govco .button-file-carga-de-archivo-govco,
.container-input-carga-de-archivo-govco .file-name-carga-de-archivo-govco {
  font-size: 1rem;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.text-validation-carga-de-archivo-govco {
  color: #4B4B4B;
  font-family: WorkSans-Regular;
  font-size: 1rem;
}

.button-loader-carga-de-archivo-govco {
  background-color: #3366CC;
  min-width: 10.313rem;
  height: 2.625rem;
  border-radius: 1.563rem;
  color: #FFFFFF;
  font-family: WorkSans-Medium;
  font-size: 1rem;
  border: 0.063rem solid #3366CC;
  display: inline-block;
}

.input-carga-de-archivo-govco[data-error="1"] + .label-carga-de-archivo-govco {
  color: #A80521;
}

.container-detail-carga-de-archivo-govco {
  border-top: 0.063rem solid #BABABA;
  margin-top: 0.5rem;
  display: none;
}

.alert-carga-de-archivo-govco {
  color: #A80521;
  font-size: 1rem;
  font-family: WorkSans-Regular;
  display: block;
  padding-top: 0.8rem;
}

.attached-files-carga-de-archivo-govco {
  padding-top: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.attached-file-carga-de-archivo-govco {
  width: 19.375rem;
  height: 4.25rem;
  background-color: #FFFFFF;
  border: 0.063rem solid #E8EFFC;
  border-radius: 0.313rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.attached-file-carga-de-archivo-govco span {
  color: #000000;
  font-family: Montserrat-Medium;
  font-size: 0.875rem;
  display: block;
}

.attached-file-carga-de-archivo-govco span:first-child {
  font-family: Montserrat-SemiBold;
}

.icon-text-carga-de-archivo-govco {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  margin-left: 1rem;
}

.file-alt-carga-de-archivo-govco::after {
  font-family: "govco-font";
  content: "\ec18";
  font-size: 2rem;
  color: #004884;
}

.container-text-name-carga-de-archivo-govco {
  max-width: 13.875rem;
}

.text-name-carga-de-archivo-govco {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trash-alt-1-carga-de-archivo-govco {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 0.625rem;
  line-height: 1;
  padding: 0.2rem 0.4rem;
}

.trash-alt-1-carga-de-archivo-govco::after {
  font-family: "govco-font";
  content: "\ec83";
  font-size: 1.5rem;
  color: #004884;
  cursor: pointer;
}

.load-button-carga-de-archivo-govco {
  display: flex;
}

.load-carga-de-archivo-govco {
  padding: 0 1rem;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.input-carga-de-archivo-govco:focus-visible ~ .container-input-carga-de-archivo-govco {
  border-radius: 0.313rem;
  outline: max(0.125rem, 0.15em) solid #000000;
}

.button-loader-carga-de-archivo-govco:focus-visible,
.attached-file-carga-de-archivo-govco:focus-visible  {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
  outline-style: auto;
}

.input-carga-de-archivo-govco:hover ~ .container-input-carga-de-archivo-govco .button-file-carga-de-archivo-govco,
.input-carga-de-archivo-govco:focus ~ .container-input-carga-de-archivo-govco .button-file-carga-de-archivo-govco,
.button-loader-carga-de-archivo-govco:hover,
.button-loader-carga-de-archivo-govco:focus-visible,
.attached-file-carga-de-archivo-govco:hover,
.attached-file-carga-de-archivo-govco:focus,
.attached-file-carga-de-archivo-govco:focus-within {
  background-color: #004884;
}

.attached-file-carga-de-archivo-govco:hover span,
.attached-file-carga-de-archivo-govco:hover .file-alt-carga-de-archivo-govco::after,
.attached-file-carga-de-archivo-govco:hover .trash-alt-1-carga-de-archivo-govco::after,
.attached-file-carga-de-archivo-govco:focus span,
.attached-file-carga-de-archivo-govco:focus .file-alt-carga-de-archivo-govco::after,
.attached-file-carga-de-archivo-govco:focus .trash-alt-1-carga-de-archivo-govco::after,
.attached-file-carga-de-archivo-govco:focus-within span,
.attached-file-carga-de-archivo-govco:focus-within .file-alt-carga-de-archivo-govco::after,
.attached-file-carga-de-archivo-govco:focus-within .trash-alt-1-carga-de-archivo-govco::after  {
  color: #FFFFFF;
}

.attached-file-carga-de-archivo-govco .trash-alt-1-carga-de-archivo-govco:focus-visible,
.attached-file-carga-de-archivo-govco .trash-alt-1-carga-de-archivo-govco:focus {
  background-color: transparent;
}

.attached-file-carga-de-archivo-govco .trash-alt-1-carga-de-archivo-govco:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
  outline-style: auto;
}

.input-carga-de-archivo-govco:disabled {
  cursor: default;
}

.input-carga-de-archivo-govco:disabled ~ .container-input-carga-de-archivo-govco .button-file-carga-de-archivo-govco {
  background-color: #737373;
  border-color: #737373;
  cursor: default;
}

.input-carga-de-archivo-govco:disabled ~ .container-input-carga-de-archivo-govco .file-name-carga-de-archivo-govco {
  background-color: #F2F2F2;
  border-color: #BABABA;
  color: #BABABA;
  cursor: default;
}

.input-carga-de-archivo-govco.active:disabled ~ .label-carga-de-archivo-govco,
.input-carga-de-archivo-govco.active:disabled ~ .text-validation-carga-de-archivo-govco {
  color: #BABABA;
}

.button-loader-carga-de-archivo-govco:disabled {
  background-color: #737373;
  border-color: #737373;
}

/* Responsive */
.container-carga-de-archivo-govco.responsive-govco .loader-carga-de-archivo-govco {
  display: block;
}

.container-carga-de-archivo-govco.responsive-govco .load-button-carga-de-archivo-govco {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.container-carga-de-archivo-govco.responsive-govco .all-input-carga-de-archivo-govco {
  width: 100%;
}

.container-carga-de-archivo-govco.responsive-govco .container-input-carga-de-archivo-govco .button-file-carga-de-archivo-govco {
  width: 10.375rem;
}

.container-carga-de-archivo-govco.responsive-govco .container-text-name-carga-de-archivo-govco {
  max-width: 10rem;
}

.container-carga-de-archivo-govco.responsive-govco .text-validation-carga-de-archivo-govco {
  font-size: 0.875rem;
}

.container-carga-de-archivo-govco.small-fileupload-govco .attached-file-carga-de-archivo-govco {
  margin-right: 0;
  width: 100%;
}
.container-carga-de-archivo-govco.responsive-govco .container-input-carga-de-archivo-govco {
  margin-bottom: 0.2rem;
}

/* indicador de carga */
.spinner-indicador-de-carga-govco {
  display: inline-block;
  vertical-align: -0.125em;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
  border-color: #0B457F;
  border-style: solid;
  border-right-color: transparent;
  position: relative;
}
/* end indicador de carga */